1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable1= 3
print(variable1)

3


2) Imprimir el tipo de dato de la constante 8.5

In [3]:
x= 8.5
type(x)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(variable1)

int

4) Crear una variable que contenga tu nombre

In [10]:
mi_nombre= "Jimena"

5) Crear una variable que contenga un número complejo

In [8]:
Numero_complejo= 14j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(Numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales (metodo round)

In [11]:
Pi=3.1415926
print(round(Pi,4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
x2="True"
x3= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [5]:
print('la variable x2 es de tipo', type(x2), 'la variable x3 es de tipo', type(x3))

NameError: name 'x2' is not defined

In [19]:

print(type(x2))

type(x3)

<class 'str'>

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [22]:
Suma=(2 + 3.5)
print(Suma)

5.5

11) Realizar una operación de suma de números complejos

In [23]:
Suma_compleja=(5 + 21j)
print(Suma_compleja)

(5+21j)

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
Nueva_suma=(3.5 + 5j)
print(Nueva_suma)

(3.5+5j)

13) Realizar una operación de multiplicación

In [25]:
Multi=(5*25)
print(Multi)

125

14) Mostrar el resultado de elevar 2 a la octava potencia

In [26]:
Potencia=(2**8)
print(Potencia)

256


15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [27]:
Cociente=(27/4)
print(Cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [28]:
Coci_ent=(27//4)
print(Coci_ent)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [2]:
Resto=(27 % 4)
print(Resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [4]:
Var= 4
resultado= 6
resultado2= 3

print(Var*resultado+resultado2)

27


19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [5]:
ALfa_1= 15j
Alfa_2= 32j

print(ALfa_1+ Alfa_2)

47j

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [6]:
2 == '2'

False

In [6]:
variable2= "2"
variable3= 2

if(variable2 == variable3):
    print("las variables son iguales")
else: print("las variables son distintas")

las variables son distintas

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [9]:
variable3= str(variable3)
type(variable3)

variable2 == variable3

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [10]:
a= float("3,8")

ValueError: could not convert string to float: '3,8'

In [9]:
a= '3,8'
a= a.replace(',', '.')
a

'3.8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [12]:
y= 3
y-= 5
print(y)

-2


24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [13]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [14]:
2 +"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [10]:
float(2)+float('2')

4.0

In [11]:
int(2)+ int('2')

4

In [12]:
c= 3
d= "Tristes tigres"

print(str(c) + d + "comen trigo en el trigal")

3Tristes tigrescomen trigo en el trigal

In [13]:
2 * '3'

'33'